<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<context:component-scan base-package="com.spring">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<jee:jndi-lookup jndi-name="jdbc/oracle" id="dataSource" resource-ref="true" />
	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean" 
		p:dataSource-ref="dataSource" 
		p:configLocation="WEB-INF/mybatis/mybatis-config.xml"/>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
		<constructor-arg ref="sqlSessionFactoryBean"/>
	</bean>
	
	
	<bean id="log4j2" class="com.spring.common.resource.Log4j2"/>
	
	
	<aop:config>
		<aop:aspect id="logAspect" ref="log4j2">
			<aop:pointcut expression="execution(public * com.spring.board.controller..*(..))" id="controllerCut"/>
			<aop:around method="printMsg" pointcut-ref="controllerCut"/>
		</aop:aspect>
	</aop:config>
	
	

</beans>
